#show-joke-buttton, #joke-text{
    position: absolute;
    font-size: 250%;
    left: 10%;
    width: 80%;
}

#show-joke-buttton{
    background-color: #666666;
    color: #CCC;
    cursor: pointer;
    height: 200px;
    top: 100px;
}

#joke-text{
    top: 370px;
}